<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
  </div>
</header>
<nav>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/account">My Account</a></li>
  </ul>
</nav>
<section>
  <app-super-groups></app-super-groups>
  <app-messages></app-messages>
</section>
<footer>
  <div style="text-align:center">
    <h6>© 2019 Vadym Demchuk | All Rights Reserved</h6>
  </div>
</footer>

<router-outlet></router-outlet>