<main>
  <section>
    <table>
      <caption>Super groups</caption>
      <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let superGroup of superGroups"
          (click)="onSuperGroupSelect(superGroup)"
          [class.selected]="superGroup === selectedSuperGroup">
        <td>{{superGroup.id}}</td>
        <td>{{superGroup.code | uppercase}}</td>
        <td>{{superGroup.shortName}}</td>
        <td>{{superGroup.name}}</td>
        <td>{{superGroup.description}}</td>
        <td><a href="{{superGroup.webUrl}}" target="_blank">URL</a></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Short Name</th>
        <th>Name</th>
        <th>Description</th>
        <th>URL</th>
      </tr>
      </tfoot>
    </table>
  </section>
  <app-sub-groups [superGroup]="selectedSuperGroup"></app-sub-groups>
</main>
